html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
}

body {
    /* background-image: url(./asset/images/etoile-mer.png); */
    background-repeat: no-repeat;
    background-size: cover;
}

h3, h4 {
    text-align: center;
    color: aquamarine;
}

h2 {
    color: aquamarine;
    text-align: right;
}

img {
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
}
